/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2017, 5:51:25 PM
    Author     : 00140307
*/

#menu
ul li{
    list-style-type: none;
    display: inline;
    font-size: 50px;
    /*background: #DF7401;*/
    padding: 60px;
    border-radius: 8px;
    
    
}


a:hover{
    font-size: 60px;
    
}

a{
    text-decoration: none;
    color: black;
    
}

#menu{
    text-align: center;
}

a:hover{
    font-size: 50px;
    
}

a{
    text-decoration: none;
    color: black;
    
}

#menu{
    text-align: center;
}

#cabezera{
    text-align: left;
    
  
}

#pie{
    text-align: center;
}


#audio{
    text-align: right;
}


form{
    width: 800px;
    margin: 0 auto;
    border: 2px solid buttonface;
    border-radius: 10px;
    padding: 2em;

}

#formulario h1{
    text-align: center;
}

label{
    display:inline-block;
    width:100px;
    text-align: right;     
    font-weight: bold;
}

input, textarea{
    width: 400px;
    font: 1em cursive;
    border: 1px solid green;
}
textarea{
    vertical-align: middle;
}

boton{
    padding-left: 100px;

}

button{
    font-size: 1.5em;
    font-weight: bold;
}






.img-full-width {
    width: 100%;
    height: auto;
}
.caption {
    position: relative;
    margin-bottom: 2%;
}
.caption h3 {
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(41,82,123,.8);
    font-size: 15px;
}


.caption-2 {
    position: relative;
    margin-bottom: 2%;
}
.caption-2 h3 {
    margin: -1px 0 0 0;
    color: #fff;
    padding: 10px;
    background: rgba(41,82,123,1);
    font-size: 15px;
}
@media (min-width:500px) { 
	.caption-2 h3 {
	    margin:0;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background: rgba(41,82,123,.8);
	}
}
